{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

  {% block content %}

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ boxtitle }}</h4>

      {% if form.subject.errors %}
        <ol>
          {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
          {% endfor %}
        </ol>
      {% endif %}

      <!-- /.box-header -->
      <!-- form start -->
      <form class="form" action="" method="post">
        <div class="box-body">
        {% csrf_token %}
        {% crispy form %}
        {{ item_form.management_form }}
        {{ item_form.non_form_errors }}

        <script type="text/html" id="item-template">
        <div id="item-__prefix__">
            {% crispy item_form.empty_form item_formhelper %}
        </div>
        </script>

        <div id="items-form-container">
          {% for itemform in item_form %}
              <div id="item-{{ forloop.counter0 }}">
                  {% crispy itemform item_formhelper %}
              </div>
          {% endfor %}
      </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <a href="#" id="add-item-button" class="btn btn-info add-item">Add Item</a>
        <button type="submit" value="save" class="btn btn-light float-right">Enviar</button>
        </div>
        <!-- /.box-footer -->
        </form>
      </div>
    </div>
  {% endblock %}
