{% extends base %}
{% load static %}

{% block base_content %}
  <main class="main">
      {% include 'partials/spiner.html' %}

      {% include 'partials/header.html' %}

      {% include 'partials/left_menu.html' %}

      <section class="content">
          {% include 'partials/messages.html' %}

          {% if form %}
            <div class="content__inner">
          {% endif %}

          {% if header %}
            {% include 'partials/content_header.html' %}
          {% endif %}

          {% if cards %}
            {% include 'partials/content_cards.html' %}
          {% endif %}

          {% block content %}
              oi
          {% endblock %}

          {% if form %}
            </div>
          {% endif %}

          {% include 'partials/footer.html' %}
      </section>
  </main>
{% endblock %}
